/*https://techsini.com/zing-gradient-text-generator/*/
.text-gradient{
        font-weight: bold;
        text-align: center;
        background: #f12711; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #f12711, #f5af19);
        background: linear-gradient(to right, #f12711, #f5af19);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


//     h1 {
//   font-size: 72px;
//   background: -webkit-linear-gradient(#eee, #333);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }