.setting-area{
    .ant-form{ 
        label{
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            background: #f12711; /* fallback for old browsers */
            background: -webkit-linear-gradient(right, #f12711, #f5af19);
            background: linear-gradient(to right, #f12711, #f5af19);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
} 

   